{% extends "timetable_view/base.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="container-fluid bg-success">
  <div class="time_table_container">
      <div class="container-lg d-inline bg-danger">

      </div>
      <div class="container-lg d-inline bg-warning">2</div>


    </div>
</div>
{% endblock %}













<!--<div class="container bg-primary" style="">-->
<!--    <div id="my_container">-->
<!--        <div class="container">-->
<!--  <div class="row">-->
<!--          <div class="col text-center">-->
<!--      Czas-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      Poniedziałek-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      Wtorek-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      Środa-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      Czwartek-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      Piątek-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--        <div class="p-3 mb-2 bg-info text-white">-->
<!--  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      08:00-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->

<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--  </div>-->
<!--        </div>-->
<!--        <div class="p-3 mb-2 bg-light text-dark">  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      08:00-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->

<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--  </div>-->
<!--        </div>-->
<!--        <div class="p-3 mb-2 bg-dark text-white">  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      08:00-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->

<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--  </div>-->
<!--        </div>-->
<!--        <div class="p-3 mb-2 bg-white text-dark">  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      08:00-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->

<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--  </div>-->
<!--        </div>-->
<!--        <div class="p-3 mb-2 bg-success text-white">  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      08:00-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->

<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--  </div></div>-->
<!--        <div class="p-3 mb-2 bg-danger text-white">  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      08:00-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--      test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->

<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--        test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--    <div class="col text-center">-->
<!--       test </br>-->
<!--        8:45</br>-->
<!--        A4</br>-->
<!--    </div>-->
<!--  </div></div>-->
<!--    </div>-->
<!--</div>-->


<!--  <form method="get">-->
<!--    {{ filter.form.as_p }}-->
<!--    <button type="submit">Search</button>-->
<!--  </form>-->

<!--</div>-->

<!--            {% for obj in lesson_filter %}-->
<!--    </br>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--         <div class="col-sm">-->
<!--           {{obj.lesson_day}}-->
<!--        </div>-->
<!--         <div class="col-sm">-->
<!--           {{obj.check_day}}-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          {{obj.current_school_class}}-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          {{obj.lesson_subject}}-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          {{obj.lesson_teacher}}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--{% endfor %}-->






<!--<div class="container">-->
<!--                <div class="timetable-img text-center">-->
<!--                    <img src="img/content/timetable.png" alt="">-->
<!--                </div>-->
<!--                <div class="table-responsive">-->
<!--                    <table class="table table-bordered text-center">-->
<!--                        <thead>-->
<!--                            <tr class="bg-light-gray">-->
<!--                                <th class="text-uppercase">Number</th>-->
<!--                                <th class="text-uppercase">Time</th>-->
<!--                                <th class="text-uppercase">Monday</th>-->
<!--                                <th class="text-uppercase">Tuesday</th>-->
<!--                                <th class="text-uppercase">Wednesday</th>-->
<!--                                <th class="text-uppercase">Thursday</th>-->
<!--                                <th class="text-uppercase">Friday</th>-->
<!--                                <th class="text-uppercase">Saturday</th>-->
<!--                            </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->

<!--                                {% for obj in lesson %}-->

<!--        Data: {{obj.lesson_day}} |-->
<!--        Godzina : {{obj.lesson_hour}} |-->
<!--        Nauczyciel : {{obj.lesson_teacher}} |-->
<!--        Temat lekcji : {{obj.lesson_subject}} |-->
<!--        Nazwa klasy : {{obj.current_school_class}} |-->





<!--                            <tr>-->
<!--                                <td class="align-middle">1</td>-->
<!--                                <td class="align-middle">08:00</td>-->

<!--                                <td>-->
<!--                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Dance</span>-->
<!--                                    <div class="margin-10px-top font-size14">9:00-10:00</div>-->
<!--                                    <div class="font-size13 text-light-gray">Ivana Wong</div>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                                {% endfor %}-->

<!--                            <tr>-->
<!--                                <td class="align-middle">2</td>-->
<!--                                <td class="align-middle">09:00</td>-->

<!--                                <td>-->
<!--                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>-->
<!--                                    <div class="margin-10px-top font-size14">10:00-11:00</div>-->
<!--                                    <div class="font-size13 text-light-gray">Ivana Wong</div>-->
<!--                                </td>-->
<!--                            </tr>-->


<!--                            <tr>-->
<!--                                <td class="align-middle">3</td>-->
<!--                                <td class="align-middle">10:15</td>-->
<!--                                <td>-->
<!--                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>-->
<!--                                    <div class="margin-10px-top font-size14">11:00-12:00</div>-->
<!--                                </td>-->
<!--                            </tr>-->


<!--                            <tr>-->
<!--                                <td class="align-middle">4</td>-->
<!--                                <td class="align-middle">11:15</td>-->
<!--                                <td>-->
<!--                                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>-->
<!--                                    <div class="margin-10px-top font-size14">12:00-1:00</div>-->
<!--                                    <div class="font-size13 text-light-gray">Kate Alley</div>-->
<!--                                </td>-->

<!--                            </tr>-->


<!--                            <tr>-->
<!--                                <td class="align-middle">5</td>-->
<!--                                <td class="align-middle">12:15</td>-->
<!--                                <td>-->
<!--                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>-->
<!--                                    <div class="margin-10px-top font-size14">1:00-2:00</div>-->
<!--                                    <div class="font-size13 text-light-gray">James Smith</div>-->
<!--                                </td>-->
<!--                            </tr>-->


<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->